
<div class="container">      
    
      <table class="table table-bordered table-dark">
        <thead >  
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Telefono</th>
            <th colspan="2">Operación</th>
        </tr>
        </thead>
        {{#each personas}}
          <tr>
            <td>{{this.nombre}}</td> 
            <td>{{this.apellido}}</td>
            <td>{{this.edad}}</td>
            <td>{{this.telefono}}</td>
             <td><a href="/persona/modificar/{{this._id}}" class="btn btn-warning">Modificar</a></td>
            <td><a href="/persona/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a></td> 
          </tr>          
       {{/each}} 
       
       <div class="row">
        <div class="form-group">
          <a href="/persona/nuevo" class="btn btn-primary">Nuevo</a>
        </div>  
      </table>
    </div>
</div>
